body{
  margin:0;
  font-family: Arial;
  background: radial-gradient(circle at top, #151522, #0b0b10);
  color:white;
}

/* TOPBAR */
.topbar{
  position: sticky;
  top: 0;
  z-index: 1000;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:12px 20px;

  background: rgba(20,20,30,0.7);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo{
  font-size:18px;
  font-weight:bold;
  letter-spacing:1px;
}

.actions{
  display:flex;
  gap:10px;
}

.actions button{
  padding:8px 14px;
  border:none;
  border-radius:10px;
  cursor:pointer;

  background:#2a2a3a;
  color:white;
  transition:0.2s;
}

.actions button:hover{
  background:#3a3a55;
  transform:scale(1.05);
}

/* GRID */
.container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap:20px;
  padding:20px;
  padding-bottom:140px;
}

/* CARD */
.card{
  background:#1a1a25;
  border-radius:16px;
  padding:12px;
  transition:0.3s;
}

.card:hover{
  transform: translateY(-5px) scale(1.02);
  box-shadow:0 10px 30px rgba(0,0,0,0.6);
}

.card img{
  width:100%;
  border-radius:12px;
}

/* ОБЩИЕ КНОПКИ */
button{
  border:none;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

/* PLAYER */
#player{
  position:fixed;
  bottom:0;
  left:0;
  right:0;

  display:flex;
  align-items:center;
  gap:15px;

  padding:10px 20px;
  background:rgba(10,10,15,0.9);
  backdrop-filter: blur(15px);

  border-top:1px solid #222;
}

#cover{
  width:55px;
  height:55px;
  border-radius:8px;
}

.info{
  flex:1;
}

/* CONTROLS */
.controls{
  display:flex;
  gap:10px;
  margin:5px 0;
}

.controls button{
  background:#2a2a3a;
  padding:6px 10px;
}

.controls button:hover{
  background:#3a3a55;
}

/* ПРОГРЕСС (КРАСИВЫЙ) */
#progress{
  width:100%;
  appearance:none;
  height:4px;
  background:#333;
  border-radius:5px;
  outline:none;
}

#progress::-webkit-slider-thumb{
  appearance:none;
  width:10px;
  height:10px;
  background:#ff3c3c;
  border-radius:50%;
  cursor:pointer;
}

/* MOBILE */
@media(max-width:600px){
  .container{
    grid-template-columns:1fr;
  }

  #player{
    flex-direction:column;
    align-items:flex-start;
  }

  #cover{
    width:100%;
    height:auto;
  }
}